<a href="https://colab.research.google.com/github/yxuieang/BaseProject-Cpp/blob/master/2020_05_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from keras.models import Sequential, Model
from keras.layers import Activation, Dense, Dropout, Input
from keras import optimizers, regularizers
from sklearn.metrics import confusion_matrix,accuracy_score, roc_curve, auc
from sklearn import preprocessing
sns.set_style("whitegrid")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
Using TensorFlow backend.

In [0]:
np.random.seed(697)

In [0]:
df = pd.read_excel('all_sheets_merge_0430.xlsx', header = 0)

In [12]:
print(df)

      No  Age  ...  Difference APACHEII 14  Difference APACHEII Total Score
0      2   86  ...                     2.0                              2.0
1      3   70  ...                     5.0                              4.0
2      4   86  ...                     5.0                              5.0
3      5   85  ...                     5.0                             15.0
4      6   71  ...                     5.0                             12.0
..   ...  ...  ...                     ...                              ...
215  226   91  ...                     2.0                              9.0
216  227   72  ...                     5.0                             10.0
217  229   68  ...                     5.0                             10.0
218  230   86  ...                     5.0                             13.0
219  231   87  ...                     0.0                             11.0

[220 rows x 2364 columns]

In [0]:
df['性別'] = df['性別'].map({'F':0,'M':1})

In [18]:
print(df['性別'])

0      0
1      1
2      1
3      1
4      0
      ..
215    0
216    0
217    1
218    1
219    1
Name: 性別, Length: 220, dtype: int64

In [19]:
df.isnull().sum()

No                                 0
Age                                0
RCC_APACHEII                       0
氣切                                 0
出院死亡                               0
                                  ..
Difference APACHEII 11             0
Difference APACHEII 12             0
Difference APACHEII 13             0
Difference APACHEII 14             0
Difference APACHEII Total Score    0
Length: 2364, dtype: int64

In [0]:
y = df['呼吸器成功脫離']

In [0]:
df = df.drop(['呼吸器成功脫離'], axis=1)

In [0]:
##Encode categorical variables to ONE-HOT
#print('Converting categorical variables to numeric...')

#categorical_columns = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']

#df = pd.get_dummies(df, columns = categorical_columns)

##Scale variables to [0,1] range
#columns_to_scale = ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5'
#    , 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

#df[columns_to_scale]=df[columns_to_scale].apply(lambda x: (x-x.min())/(x.max()-x.min()))

In [0]:
#Split in 75% train and 25% test set
train, test_df = train_test_split(df, test_size = 0.15, random_state= 1984)
train_df, dev_df = train_test_split(train, test_size = 0.15, random_state= 1984)

In [28]:
# Check distribution of labels in train and test set
train_df.Default.sum()/train_df.shape[0] #0.2210
dev_df.Default.sum()/dev_df.shape[0] #0.2269
test_df.Default.sum()/test_df.shape[0] #0.2168

AttributeError: ignored